ACTUAL_BUDGET_ID=
ACTUAL_BUDGET_PASSWORD=
ACTUAL_BUDGET_SERVER_URL=
ACTUAL_BUDGET_UP_ACCOUNT_ID=
ACTUAL_BUDGET_ENCRYPTION_PASSWORD= # Only Required if budget file has end-to-end encryption enabled

# left is up id, right is actual budget id
UP_ACCOUNT_MAPPING='{
    "up_account1": "actual_budget_account1",
    "up_account2": "actual_budget_account1"
}'

UP_BANK_ACCESS_TOKEN=
