ACTUAL_BUDGET_ID=
ACTUAL_BUDGET_PASSWORD=
ACTUAL_BUDGET_SERVER_URL=# http://localhost:5006
ACTUAL_BUDGET_UP_ACCOUNT_ID=
ACTUAL_BUDGET_ENCRYPTION_PASSWORD= # Only Required if budget file has end-to-end encryption enabled
UP_BANK_SYNC_START=# Date & time in rfc-3339 format YYYY-MM-DDTHH:MM:SS[Z or +HH:MM]

# left is up id, right is actual budget id
UP_ACCOUNT_MAPPING='{
    "up_account1": "actual_budget_account1",
    "up_account2": "actual_budget_account1"
}'

UP_BANK_ACCESS_TOKEN=



